body {
    text-align: center;
    font-family: 'Bitter', serif;
}

header {
    background-color: whitesmoke;
}

img {
    width: 60%;
}


.main-nav li {
    display: block;
    padding: 1em 2em;
    background-color: white;
    margin-bottom: .5em;

}

.main-nav ul {
    padding: 0 1em;
    
}

.main-nav a {
     padding: 1em;

}

.portfolio h2 {
    margin: 2em 0;
}

.name {
    margin: auto;
    padding: .7em 0;
    font-family: 'Bitter', serif;
}
