
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Bitter', serif;
    margin: auto;
    background-color: rgba(0, 0, 0, 1);
}

header {
    
    padding-bottom: 2em;
}

img {
    /* margin: 1em; */
}

p {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

hr {
    max-width: 90%;
}

a {
    text-decoration: none;
}

/* ---- Class Selectors ---- */


.main-nav li {
    display: block;
    margin: auto;
    padding: 1em 2em;
    background-color: rgb(166, 184, 201, .4);
    margin-bottom: .5em;
    width: 60%;
    min-width: 250px;
    border-radius: 10px;
    

}

.main-nav ul {
    padding: 0 1em;
    
}

.main-nav a {
     padding: 1em;
     font-size: 1.2em;
     font-weight: bold;
}

ul a {
    color: darkorange;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: firebrick;
}

.name {
    margin: auto;
    padding: .7em 0;
}

.main-header img {
    padding: 1em;
    width: 60%;
}


.footer-name {
    float: left;
    margin: 1em;
}

.footer-nav {
    float: right;
    margin: 1em;
}

.calculator {
    padding-bottom: 2em;
}

.footer-nav .mobile {
    font-weight: bold;
    display: inline-block;
}

.footer-nav .tablet {
    display: none;
}

.main-footer {
    overflow: hidden;
}

.main-header,
.main-footer {
    color: white;
}

/* ---- ID Selectors ---- */

#portfolio,
#skills {
    background-color: white;
    padding-top: .5em;
}

#portfolio div {
    padding: 1em 0;
}

#portfolio img {
    width: 90%;
}

#portfolio h2 {
    margin: 2em 0;
}

#skills ul {
    text-align: left;
    padding-bottom: 1em;
}

#contact {
    padding: 1em 0;
}

#contact p {
   padding: .5em; 
}

#contact a {
    color: teal;
    font-weight: bold;
}



/* ---- Media Qurries ---- Tablet---- */
 
@media (min-width: 768px) {

    .main-header {
        overflow: hidden;
    }

    .main-nav li {
        display: inline;
        background: none;
    }

    .main-header img {
        width: 30%;
        float: right;
        margin: 1em;
    }

    .main-header p {
        text-align: left;
        width: 60%;
        float: left;
        padding: 2em 1em 1em;
    }

    .main-footer {
        padding: 2em 0;
    }

    .footer-nav .mobile {
        display: none;
    }

    .footer-nav .tablet {
        display: inline-block;
        margin: 0 2em 0 0;
    }

    #portfolio {
       overflow: hidden; 
    }

    img {
       
    }

    #portfolio div {
       width: 50%;
       float: left;
       margin-bottom: 5%;
    }


}


/* ---- Media Qurries ---- Desktop ---- */


@media (min-width: 1024px) {

    .name {
       padding: 0;
        float: left;
        width: 30%;
    }

    .main-header {
        padding: 2em;
    }
     
    .main-nav ul {
       float: right;
       width: 70%;
       padding: 0;
       text-align: right;
    }

    .main-nav li {
        padding: 0;
        float: inline-end;
    }

    .profile-image {
        float: right;
    }

    .float-wrapper {
      
    }

    #portfolio div {
        width: 33.3333%;
    }
}